In [30]:
import pandas as pd
import glob
import wfdb
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from scipy.signal import detrend, butter, lfilter, freqz, hilbert, find_peaks, find_peaks_cwt
from statsmodels.tsa.stattools import ccf
import seaborn as sns
from scipy import fftpack
sns.set_style("darkgrid")
%matplotlib notebook
%config InlineBackend.print_figure_kwargs={'bbox_inches': None}
import matplotlib.pyplot as plt
import pandas as pd
from datetime import date
from IPython.display import display

In [42]:
df_master= pd.read_csv("../../../data/initial_dataset/Master_04_10_2019.csv",sep=",",low_memory=False)
df_master= df_master.drop(df_master.columns[0],1)

In [47]:
df_master.head()

,donor_id,data_pd,sample_pd.x,ASXL1,ASXL2,ASXL3,ATRX,BAGE3,BCOR,BRAF,...,MRD_relapse_status,CRdate,randDate_PB,CRDate_PB,relapseDate_PB,boneDate_PB,longCR_PB,FLT3_ITD_New,FLT3_ITD_Value_New,NoMatchFLT3
0,11-3496,PD20338c,PD20338c,0,0,0,0,0,0,0,...,1.0,1994-02-28,0,0,0,0,0,NaN,NaN,Missing
1,11-3807,PD20337c,PD20337c,0,0,0,0,0,0,0,...,1.0,NaN,0,0,0,0,0,NaN,NaN,Missing
2,11-3885,PD20336a,PD20336a,0,0,0,0,0,0,0,...,1.0,NaN,0,0,0,0,0,NaN,NaN,Missing
3,11-4052,PD20335c,PD20335c,0,0,0,0,0,0,0,...,1.0,NaN,0,0,0,0,0,NaN,NaN,Missing
4,11-4169,PD20334a,PD20334a,0,0,0,0,0,0,0,...,1.0,1997-07-15,0,0,0,0,0,NaN,NaN,Missing

In [50]:
desc = df_master.describe()
desc

,ASXL1,ASXL2,ASXL3,ATRX,BAGE3,BCOR,BRAF,CBFB,CBL,CDKN2A,...,MRD_Status,MRD_relapse,MRD_relapse_status,randDate_PB,CRDate_PB,relapseDate_PB,boneDate_PB,longCR_PB,FLT3_ITD_New,FLT3_ITD_Value_New
count,2428.000000,2428.000000,2428.000000,2428.000000,2428.000000,2428.000000,2428.000000,2428.000000,2428.000000,2428.000000,...,2335.000000,1593.000000,2335.000000,2428.000000,2428.000000,2428.00000,2428.000000,2428.000000,1972.000000,415.000000
mean,0.084432,0.019769,0.000824,0.005354,0.004942,0.046129,0.003707,0.001647,0.022241,0.001647,...,0.661242,2.119329,0.739186,0.002883,0.001236,0.00453,0.008237,0.027595,0.216531,35.482892
std,0.278091,0.139235,0.028695,0.072991,0.070142,0.209807,0.060783,0.040564,0.147495,0.040564,...,0.473389,1.982279,0.439173,0.053627,0.035136,0.06717,0.090403,0.163842,0.411985,22.587821
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,2.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.569473,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,18.950000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.245722,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,31.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,3.353867,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,43.650000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,11.107460,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,118.000000

#### Check consistency by looking at the max and min of each of those columns (most of them will have max=1 and min=0 : let's make sure)

##### We start by looking at the max:

In [71]:
desc.iloc[7][desc.iloc[7]>1]
#Fine! All those features can be greater than one!

trial.x                    7.000000
age                      100.720055
perf_status                4.000000
secondary                  3.000000
wbc                      456.000000
hb                       176.000000
plt                     2013.000000
bm_blasts                100.000000
neut                     167.800000
trtcode               990011.000000
cod                       42.000000
os                        11.208761
LAIPvalue1                90.200000
LAIPvalue2                44.000000
OS_randomization          11.216440
RFSyears                  11.115070
RelapseCIStatus            2.000000
DaystoFirstCR            966.000000
OS_CR                     11.107460
MRD_relapse               11.107460
FLT3_ITD_Value_New       118.000000
Name: max, dtype: float64

In [72]:
desc.iloc[7][desc.iloc[7]<1]
# Interesting! No one has this

dic_13_14    0.0
minus7.      0.0
t_17_22      0.0
Name: max, dtype: float64

##### Now, we look at the min:

In [78]:
desc.iloc[3][desc.iloc[3]<0]
# What is variable "os"?
df_master[df_master.os<0]

,donor_id,data_pd,sample_pd.x,ASXL1,ASXL2,ASXL3,ATRX,BAGE3,BCOR,BRAF,...,MRD_relapse_status,CRdate,randDate_PB,CRDate_PB,relapseDate_PB,boneDate_PB,longCR_PB,FLT3_ITD_New,FLT3_ITD_Value_New,NoMatchFLT3
1678,17-3295,PD19742a,PD19742a,0,0,0,0,0,0,0,...,NaN,NaN,1,0,0,0,0,0.0,NaN,Match
1966,17-3974,PD25263a,PD25263a,0,0,0,0,0,0,0,...,NaN,NaN,1,0,0,1,0,0.0,NaN,Match
2057,17-4153,PD25354a,PD25354a,0,0,0,0,0,0,0,...,NaN,NaN,1,1,1,0,0,0.0,NaN,Match
2155,17-4428,PD25459c,PD25459c,0,0,0,0,0,0,0,...,NaN,NaN,1,0,0,0,0,0.0,NaN,Match

In [ ]:
df_master.isna().sum()